<div class="page-header">
  <h2>
    <%= tooltiped_text @doc.mblnr, 'MIGO-ს ნომერი' %>
    <% if @doc.rs_number -%>
  	  <small>ს/ზ №<%= tooltiped_text @doc.rs_number, 'ზედნადების ნომერი' %></small></h2>
  	<% end -%>
</div>

<div class="btn-toolbar">
  <%= link_to icon_text('arrow-left', 'სიაში'), sap_waybills_url, :class => 'btn' %>
  <% if @doc.rs_status == RS::Waybill::STATUS_SAVED -%>
    <% if @waybill.valid? %>
      <%= link_to icon_text('share', 'გადავაგზავნო საგადასახადო პორტალში'), sap_send_to_rs_url(@doc), :method => :post, :confirm => 'ნამდვილად გინდათ გადაგზავნა?', :class => 'btn' %>
    <% end %>
  <% elsif @doc.rs_status == RS::Waybill::STATUS_ACTIVE -%>
    <%= link_to icon_text('ok-sign', 'დასრულება', :white => true), sap_close_rs_url(@doc), :method => :post, :confirm => 'ნამდვილად გინდათ ზედნადების დასრულება? დასრულებული ზედნადების შეცვლა შეუძლებელი იქნება!', :class => ['btn', 'btn-success'] %>
    <%= link_to icon_text('remove-sign', 'გაუქმება', :white => true), sap_cancel_rs_url(@doc), :method => :post, :confirm => 'ნამდვილად გინდათ ზედნადების გაუქმება?', :class => ['btn', 'btn-danger'] %>
    <%= link_to icon_text('refresh', 'სინქრონიზაცია'), sap_sync_rs_url(@doc), :method => :post, :class => 'btn' %>
  <% elsif @doc.rs_status == RS::Waybill::STATUS_CLOSED -%>
    <%= link_to icon_text('remove-sign', 'გაუქმება', :white => true), sap_cancel_rs_url(@doc), :method => :post, :confirm => 'ნამდვილად გინდათ ზედნადების გაუქმება?', :class => ['btn', 'btn-danger'] %>
    <%= link_to icon_text('refresh', 'სინქრონიზაცია'), sap_sync_rs_url(@doc), :method => :post, :class => 'btn' %>
  <% end -%>
</div>

<% unless @waybill.valid? -%>
  <div class="alert alert-block alert-important">
    <ul>
      <% @waybill.validation_errors.each do |k, v| -%>
        <li><%= k %>: <%= v %></li>
      <% end -%>
    </ul>
  </div>
<% end -%>

<%= render :partial => 'sap/waybills/waybill' %>