<%= simple_form_for(@user, :url => (@user.new? ? sys_new_user_url : sys_edit_user_url(@user)), :html => {:class => 'form-horizontal'}) do |f| -%>
  <%= f.input :name, :label => 'მომხმარებელი', :input_html => {:autofocus => true} %>
  <%= f.input :password, :label => 'პაროლი' %>
  <%= f.input :password_confirmation, :label => 'დადასტურება' %>
  <%= f.input :email, :label => 'ელ. ფოსტა' %>
  <%= f.input :mobile, :label => 'მობილური' %>
  <%= f.input :first_name, :label => 'სახელი' %>
  <%= f.input :last_name, :label => 'გვარი' %>
  <%= f.input :admin, :as => :boolean, :label => 'სისადმინია?' %>
  <div class="form-actions">
  	<%= f.button :submit, @user.new? ? 'შექმნა' : 'შეცვლა', :class => ['btn-primary'] %>
  	<%= link_to 'გაუქმება', @user.new? ? sys_users_url : sys_show_user_url(@user), :class => 'btn' %>
  </div>
<% end -%>