<%= simple_form_for(@warehouse, :url => (@warehouse.new? ? sys_new_warehouse_url : sys_edit_warehouse_url(@warehouse)), :html => {:class => 'form-horizontal'}) do |f| -%>
  <% if @error -%>
    <%= bootstrap_alert(:id => 'error-explanation', :class => :error) do -%>
	  <%= @error %>
	 <% end -%>
  <% end -%>
  <p class="muted">ახალი საწყობის დასამატებლად შეიყვანეთ SAP-ის საწარმოს და საწყობის კოდები.</p>
  <%= f.input :werks, :label => 'WERKS', :input_html => {:class => :span1, :disabled => (not @warehouse.new?)} %>
  <%= f.input :lgort, :label => 'LGORT', :input_html => {:class => :span1, :disabled => (not @warehouse.new?)} %>
  <div class="form-actions">
    <%= f.button :submit, 'შენახვა', :class => 'btn-primary' %>
    <%= link_to 'გაუქმება', @warehouse.new? ? sys_warehouses_url : sys_show_warehouse_url(@warehouse), :class => 'btn' %>
  </div>
<% end -%>