<div class="page-header">
  <h2>საწყობები</h2>
</div>
<div class="btn-toolbar">
  <%= link_to icon_text('refresh', 'სინქრონიზაცია'), sys_sync_warehouses_url, :class => 'btn', :method => :post, :confirm => 'ნმადვილად გინდათ სინქრონიზაცია?' %>
  <%= link_to icon_text('plus', 'საწყობის დამატება'), sys_new_warehouse_url, :class => 'btn' %>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>დასახელება</th>
      <th width="150">SAP-ის პარამეტრები</th>
    </tr>
  </thead>
  <tbody>
    <% @warehouses.each do |wh| -%>
      <tr>
        <td>
          <%= link_to wh.name, sys_show_warehouse_url(wh) %>
          <% if wh.users.any? -%>
            <span class="muted">&rarr;
              <%= (wh.users.map {|u| u.full_name}).join(', ')%>
            </span>
          <% end -%>
        </td>
        <td>
      	  <%= tooltiped_text wh.werks, 'WERKS', :left %>
      	  <span class="muted"><%= tooltiped_text wh.lgort, 'LGORT', :right %></span>
      	</td>
      </tr>
    <% end -%>
  </tbody>
</table>
<%= paginate @warehouses %>