:javascript
	var url = '#{sys_add_warehouse_user_url(@warehouse)}';
	$(function() {
		$('.user').change(function(data) {
			var target = $(data.target);
			var user_id = target.attr('data-user');
			var assign = target.is(':checked');
			console.log(assign);
			var data = { 'user_id': user_id, 'assign': assign };
			$.post(url, data, function(data) {});
		});
	});
.page-header
	%h2
		#{@warehouse.name}
		%small <strong>#{@warehouse.werks}</strong> / #{@warehouse.lgort}
.btn-toolbar
	= link_to icon_text('arrow-left', 'სიაში'), sys_warehouses_url, :class => 'btn'
	.pull-right
		= link_to '&larr; წინა'.html_safe, sys_show_warehouse_url(@prev), :class => 'btn' if @prev
		= link_to 'შემდეგი &rarr;'.html_safe, sys_show_warehouse_url(@next), :class => 'btn' if @next
%h3 მისამართები
%table.table.table-striped.table-bordered
	%thead
		%tr
			%th დასახელება, მისამართი
			%th{:width => 500} ხარჯის წარმოქმნის ადგილი
	%tbody
		- @sap_addresses.each do |address|
			%tr
				%td
					#{address.address.name1}<br/>
					<span class="muted">#{address.address.to_s}</span>
				%td
					#{address.address.floor}<br/>
					- if address.address.floor and not address.address.floor.strip.empty?
						<span class="muted">#{address.address.cost_center.ltext}</span>
%h3 მომხმარებლები
.row
	- @users.each do |user|
		.span3
			%input.user{ :type => :checkbox, :id => "user_#{user.id}", 'data-user' => user.id, :checked => @warehouse.users.include?(user) }
			%label{ :for => "user_#{user.id}", :style => 'display: inline;' }= user.full_name